
ENSE496-A4/.vs/ENSE496-A4/v16/.suo
*.lock
ENSE496-A4/.vs/ENSE496-A4/v16/.suo
ENSE496-A4/.vs/ENSE496-A4/v16/Server/sqlite3/storage.ide-shm
ENSE496-A4/.vs/ENSE496-A4/v16/Server/sqlite3/storage.ide-wal
ENSE496-A4/ENSE496-A4/obj/Debug/ENSE496-A4.pdb
ENSE496-A4/ENSE496-A4/obj/Debug/ENSE496-A4.csprojAssemblyReference.cache
ENSE496-A4/ENSE496-A4/bin/Debug/ENSE496-A4.pdb
ENSE496-A4/.vs/ENSE496-A4/v16/.suo
*.pdb
*.dll
*.cache
ENSE496-A4/.vs/ENSE496-A4/v16/.suo
*.ide
*.pdb
*.dll
*.ide-shm
*.ide-wal
*.ide
*.json
*.targets
*.props
Mp3FrameShuffler/.vs/Mp3FrameShuffler/DesignTimeBuild/.dtbcache
Mp3FrameShuffler/.vs/Mp3FrameShuffler/v16/.suo
Mp3FrameShuffler/mp3.mp3
